@import "variables";

html {
    font-size: 62.5%
}

main {
    h1 {
        font-family: $font-family !important;
        font-weight: 300px !important;
        font-size: 5rem;
    }

    h2 {
        font-family: $font-family !important;
        margin-bottom: 1rem;
    }

    p {
        font-family: $font-family !important;
        font-weight: 200 !important;
        font-size: 1.2rem;
    }

    a {
        font-family: $font-family !important;
        text-decoration: none !important;
        color: black !important;
        font-size: 1.5rem !important;
    }

}

header {
    nav {
        a {
            font-family: $font-family !important;
            text-decoration: none !important;
            color: black !important;
            font-size: 1.6rem !important;
            font-weight: 200;
        }

        a:hover {
            color: #0B8BD6 !important;

        }

    }
}


body {
    background-color: rgba(185, 185, 185, 0.147);
}

footer {
    font-size: 1.2rem !important;
    background-color: white;

    ul {

        a {
            font-size: 1.6rem !important;
        }

        a:hover {
            color: #0B8BD6 !important;
        }
    }
}

i {
    font-size: 26px;

}



//Clases//

.textoportada {
    color: rgb(255, 255, 255) !important;
    font-weight: 500 !important;
    margin-bottom: 20px;
}

.nosotros {
    margin-top: 35px;
}


.spacing {
    margin-top: 50px;
}

.card {
    border: none;
    padding: 20px;
}

.card-body {
    padding: 0px;

}

.btn-warning {
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
}

.btn-warning:hover {
    background-color: rgb(255, 211, 50) !important;
    border-color: rgb(255, 211, 50);
}

.btn-warning-submit {
    --bs-btn-bg: #ffc107;
    font-size: 1.4rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    transition: 0.3s;
    font-weight: 500;

    &:hover {
        @extend .btn-warning:hover;
    }

}


.containerservicios {
    background-color: #F9F9F9;
    padding-top: 30px;
    padding-bottom: 40px;
}

.h2servicios {
    color: #0B8BD6;
    font-weight: 600 !important;
}

.cardborder {
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 40px;
    border-radius: 10px;

}

.cardbox {
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 20px 20px 5px 20px;
    border-radius: 10px;

}

.card-text {
    color: rgb(49, 49, 49);
}

.imgubicacion {
    display: flex;

}

.cardcontacto {
    border: none;
    padding: 20px;
    background-color: white;
    border-radius: 11px;

}


.form-control {
    font-family: $font-family !important;
    color: black !important;
    font-size: 1.3rem;
    height: 35px;

}


.accordion-button {
    font-family: $font-family !important;
    color: black !important;
    font-size: 2.1rem !important;
    padding: 1.5rem;

}

.bi-facebook {
    color: rgb(66, 103, 178);
    margin-right: 15px;
    transition: 0.3s;

    &:hover {
        font-size: 30px;
    }
}

.bi-whatsapp {
    color: white;
    margin-right: 15px;
    transition: 0.3s;
    font-size: 18px;
}

.bi-instagram {
    color: rgb(193, 53, 132);
    transition: 0.3s;

    &:hover {
        font-size: 30px;
    }
}

.wpp-button {
    background-color: rgb(37, 185, 91);
    border: none;
    border-radius: 11px;
    color: white;
    font-family: $font-family;
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    align-content: center;
    transition: 0.4s;

    &:hover {
        background-color: rgb(62, 217, 119);

    }
}

.map-container {
    overflow: hidden;
    padding-bottom: 35%;
    position: relative;
    height: 0;
    margin-bottom: 40px;

}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.form-label {
    font-weight: 600;
    font-family: $font-family !important;
    color: black !important;
    font-size: 1.2rem;
    margin-bottom: 8px;

}

.spacing-index {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}


//Media Queries//

@media (min-width: 768px) {
    p {
        font-size: 1.4rem !important;
    }

    .form-label {
        font-size: 1.4rem !important;
    }

    .spacing-index {
        margin-top: 90px !important;
        margin-bottom: 90px !important;
    }
}

@media (min-width: 1025px) {
    p {
        font-size: 1.6rem !important;
    }

    .form-label {
        font-size: 1.6rem !important;
    }

    .spacing-index {
        margin-top: 100px !important;
        margin-bottom: 140px !important;
    }
}